<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">Carrito</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
     <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
           <a class="nav-link" (click)="onOpenModal(null, 'add')">Añadir producto <span class="sr-only">(current)</span></a>
        </li>
     </ul>
     <form class="form-inline my-2 my-lg-0">
        <input type="search"
         name="key" id="searchName" class="form-control mr-sm-2" placeholder="Buscar Productos..." required>
     </form>
  </div>
</nav>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container pb-5 mb-2" id="main-container">

    <!-- Cart Item-->
    <div *ngFor="let product of products" class="cart-item d-md-flex justify-content-between"><span (click)="onOpenModal(product, 'delete')" class="remove-item"><i class="fa fa-times"></i></span> <span (click)="onOpenModal(product, 'edit')" class="edit-item"><i class="fa fa-times"></i></span>
        <div class="px-3 my-3">
            <a class="cart-item-product" href="#">
                <div class="cart-item-product-thumb"><img src="{{product?.imageurl}}" alt=""></div>
                <div class="cart-item-product-info">
                    <h4 class="cart-item-product-title">{{product.name}}</h4><span><strong>Tipo:</strong> {{product?.type}}</span>
                </div>
            </a>
        </div>
        <div class="px-3 my-3 text-center">
            <div class="cart-item-label">Subtotal</div><span class="text-xl font-weight-medium">{{product?.subtotal}}</span>
        </div>
        <div class="px-3 my-3 text-center">
            <div class="cart-item-label">Descuento</div><span class="text-xl font-weight-medium">{{product.discount}}</span>
        </div>
    </div>

<!-- Add Product Modal -->
<div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
</div>

<!-- Edit Product Modal -->
<div class="modal fade" id="updateProductModal" tabindex="-1" aria-labelledby="productEditModalLabel" aria-hidden="true">
</div>

<!-- Eelete Product Modal -->
<div class="modal fade" id="deleteProductModal" tabindex="-1" aria-labelledby="deleteProductModelLabel" aria-hidden="true">
</div>
